* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0;
  padding: 0;
  background-color: #212121;
  width: 100vw;
  height: 100dvh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

ul,
p {
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.front {
  width: 100%;
  height: 100%;

  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;

}

.front .actions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  list-style: none;
  position: absolute;

  left: 50%;
  bottom: 2%;
  transform: translateX(-50%);

  /* display: none; */
}

.front .actions li {
  position: relative;
  left: 0;
  background-color: #363636;
  transition-property: background-color;
  transition: 250ms ease-out;
}
.front .actions li.active {
  background-color: red;
}

.front .actions li:hover {
  position: relative;
}

.front .actions button {
  padding: 10px;
  background-color: transparent;
  outline: none;
  border: none;

  color: white;

  font-size: 18px;
  cursor: pointer;

  display: block;
}

.text {
  font-size: 14px;
  color: white;

  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(2px);
  padding: 20px;
  padding-right: 0;

  border: 1px solid red;
  border-top: 10px solid red;

  position: absolute;
  left: 2%;
  top: 3%;
  width: 40%;
  height: 80%;
}

.text::after {
  content: "";
  display: block;

  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: white;

  position: absolute;
  top: 0;
  left: 50%;

  transform: translate(-50%, -65%);
}

.paragraph {
  display: flex;
  flex-direction: column;
  gap: 15px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  overflow-y: scroll;
  height: 100%;
}

.paragraph::-webkit-scrollbar {
  width: 10px; /* width of the entire scrollbar */
}

.paragraph::-webkit-scrollbar-track {
  /* background: rgba(0, 0, 0, 0.3);  */
}

.paragraph::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.3); /* color of the scroll thumb */
}

.container {
  width: 100%;
  height: 100%;
  max-width: 800px;
}

@media screen and (min-width: 801px) {
  .container {
    max-width: unset;
  }

  .text {
    font-size: 18px;
  }

  .front .actions button {
    padding: 20px;
    font-size: 22px;
  }

  .front .actions {
    flex-wrap: wrap;
  }
}
